@{
    ViewData["Title"] = "Mua hàng thành công";
    Layout = "~/Views/Shared/Layout/Front/_Layout.cshtml";
}
<div style="text-align: center; margin-top: 50px;">
    <h1 style="color: #28a745;">Mua hàng thành công</h1>
    <p>Cảm ơn bạn đã tin tưởng dịch vụ của chúng tôi!</p>
</div>